html,
body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.tableheader{
    color: white;
}

#afterhours{
    color: white;
}
.container-fluid
{
    background-color: black;
}

#floating-panel
{
    z-index: 5;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    background-color: black;
}

#map
{
    min-height: 940px;
    width: 100%;
    background-color: black;
}